body{
    width: 100%;
    background-image: url(../img/fondo.jpg); width: 100%;
    color: white;
    font-family: 'Bahnschrift', sans-serif;
}
.grid {
    display: grid;
    grid-template-areas:
    "titulo"
    "navegacion"
    "lista"
    "video"
    "footer";
}
.titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    margin:15px;
} 


.lista {
    grid-area: lista;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.list__title{
    list-style: none;

}
.list__options{
    margin: 12px;
    list-style: circle;
    margin-left: 100px;
}

.list__section{
    margin-top:20px;
    display: flex;
    gap: 30%;
    margin-left: 30px;
    justify-content: center;
}

.list__item{
    font-weight: normal;
}

@media (min-width:768px) {
    .grid{
        grid-area:lista ;
    }
    .lista{
        display: flex;
        justify-content: right;
    }
}

.container{
    grid-area: video;
    display: flex;
}

.container__video{
    max-width: 100%;
}

.container__description {
    display: flex;
    width: 400px;
    height: auto;
    margin: 18px;
    padding: 18px;
    border-radius: 12px;
    background-color:  #000080;
    float: right ;
}

.footer{
    grid-area: footer;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.negrita {
    font-weight: bold;
}
/****GRID FIRST MOBILE CONTACTO****/
#contacto{
    display: grid;
    grid-template-areas: 
    "nav"
    "cabecera"
    "formulario"
    "footer";
}

#cabecera{
    grid-area: cabecera;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin-top: 25px;
    }

#formulario{
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.formulario__inputs {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:center;
}


    
.block__description {
    font-size: 20px;
    color:black;
    width: 480px;
    height: auto;
    margin: 15px auto;
    padding: 18px;
    border-radius: 12px;
    background-color: rgba(42, 42, 238, 0.418);
}   

@media (max-width: 767px) {
    .block {
        display:block;
        height: auto;
        width: auto;}
        .block__description {
            display: flex;
            width: auto;
            height: auto;}
    }

.table{
    margin: 30px;
    width: 95%;
    height: auto;
}
table th {
    color:red;

}
table td {
    color:white;
}

.fondo-gradiente{
    background: linear-gradient(to top, blue, black);
}

.bg-light{
    background-color: #000080 !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.logo {
    height: 35px;
    width: 35px;
}

.form {
    margin:20px 0px 20px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer1{
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.cardss{
    display: flex;
    justify-content: center;
}

.card{

    background-color: rgb(20, 20, 20);
    border:solid 5px red;
    margin:20px;
}



.card-img-top{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.col a{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    
}

.card-title{
    font-family: 'Oswald', sans-serif;
    color: red;
}

.footer2{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.roto{
    display: flex;
    justify-content: center;
    margin-top: 131px;
}

.margen{
    margin-top: 60px;
}

#navbarNavDropdown{
    margin-right: 20px;
}

.roto2{
    display: flex;
    justify-content: center;
    margin-top: 247px;
}